@import "../../SCSS/utils.scss";

.sort-section {
    h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
        margin-bottom: 15px;
    }

    &__price-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: #3f4e65;
        margin-bottom: 15px;

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #111111;
        }
    }

    &__price-sort {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #3f4e65;
        margin-bottom: 30px;

        &-input {
            width: 100%;
            &-wrapper {
                display: inline;
                background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
                border-radius: 1000px;
                text-align: center;
                width: 100px;
                &:first-child {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-left: 10px;
                }
            }
            padding: 5px 0;

            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #3f4e65;
            @extend .dfc;
        }
    }
    &__maker {
        border-bottom: 1px dashed rgba($color: #3f4e65, $alpha: 0.3);
        margin-bottom: 20px;
    }

    &__maker-search {
        margin-bottom: 15px;
    }

    &__maker-show-more {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #3f4e65;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    &__tag {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #111111;

        &-active {
            text-decoration: underline;
        }
    }

    &__params{
        display: flex;
        justify-content: space-between;
    }
}

.more-params-btn {
    cursor: pointer;

    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(270deg);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: rgba($color: #ffca65, $alpha: 0.3);
    }

    &__img-wrapper-active{
        transform: rotate(90deg);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .sort-section {
        &__tag {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #3f4e65;
            text-transform: none;
            margin-bottom: 10px;
        }
    }
}
