@import "../../SCSS/utils.scss";

.input-email {
  max-width: 80%;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    max-width: 282px;
    margin-top: 15px;

    background: #ededed;
    border-radius: 36px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 39px;
      height: 39px;
      background-image: url("../../img/email-input-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__label {
    font-size: 12px;
  }
}

.pricelist-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 43px;
  gap: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  background: #ffc85e;
  transition: 0.3s ease-in-out;

  &:hover {
    background: #faa700;
  }

  &:active {
    background: #9b701a;
  }
  border-radius: 79px;
}

.footer__wrapper {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  background: #3f4e65;

  .footer__list {
    display: flex;
    padding: 70px 20px 116px 20px;
    justify-content: space-between;
  }

  .footer__list > li {
    display: flex;
    flex-direction: column;
  }

  .footer__list > li:not(:first-child):not(:nth-child(2)) {
    margin-left: 100px;
  }

  .company-info {
    max-width: 320px;

    &__logo {
      margin-bottom: 15px;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 45px;
    }
  }

  .footer__sublist h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }

  .footer__sublist > li > a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .footer-menu {
    margin-left: 60px;
  }

  .footer-category,
  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-category h2,
  .footer-menu h2 {
    margin-bottom: 5px;
  }

  .footer-pricelist {
    .pricelist-block {
      margin-bottom: 20px;
      h2 {
        margin-bottom: 25px;
      }
    }

    &__contacts {
      p {
        font-size: 14px;
        margin-bottom: 15px;
      }

      &-telegram {
        margin-left: 10px;
      }
    }
  }

  .contacts-list {
    gap: 15px;
    display: flex;
    flex-direction: column;

    .contacts-list__contacts {
      &-phone {
        font-weight: 600;
        font-size: 14px;
      }
      &-schedule {
        font-weight: 300;
        font-size: 12px;
      }
      &-link {
        font-weight: 400;
        font-size: 10px;
        text-decoration-line: underline;
      }

      &-email {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        &-description {
          font-weight: 300;
          font-size: 12px;
        }
      }
    }

    &__mastercard {
      margin-left: 5px;
    }
  }
}

.input-email {
  color: #000;
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: 1140px) {
  .footer-mobile {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
    background: #3f4e65;
    padding: 15px;

    &__logo-block {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 15px;
    }

    &__email-block {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
      }
    }

    &__description-block {
      margin-bottom: 15px;
    }

    &__list-block {
      margin-top: 30px;
      display: flex;

      & > * {
        width: 100%;
      }
    }

    &__contacts-block {
      margin-top: 25px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    &__contacts-title {
      margin-bottom: 25px;
    }

    &__contacts-upper-block {
      margin-bottom: 25px;
    }

    &__contacts-lower-block {
      margin-bottom: 10px;
    }
  }

  .input-email__wrapper {
    max-width: none;
  }

  .footer__wrapper {
    display: none;
  }

  .footer__sublist {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer__sublist > li > h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  .footer__sublist > li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
  }

  .contacts-list__contacts-phone {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }

  .contacts-list__contacts-schedule {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
  }

  #call-link-mobile {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #ffffff;
  }

  #contacts-list__contacts-email-mobile {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }

  #contacts-list__contacts-phone-mobile {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
  }

  .mobile-payment {
    display: flex;
    gap: 5px;
  }

  .mobile-socials {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .pricelist-button {
    padding: 11px 23px;
  }
}
